@import "../variables";

.consoleblog-header-navbar {
  text-align: center;
  font-family: $font-russo;

  ul {
    text-decoration: none;
    padding: 0;
  }
}

.consoleblog-header-navbar_main {
  li {
    display: inline-block;
    padding: 15px;
    margin-right: 25px;
    font-size: 1.3rem;
    transition: $transiotion-short;
    position: relative;

    &:last-child {
      margin-right: 0;
    }
  
    &:hover {
      cursor: pointer;
      background-color: $navbar-li-main-hover-bg-color;
  
      .consoleblog-header-navbar_main__link {
        color: $navbar-li-main-hover-text-color;
      }
    }
  
    .consoleblog-header-navbar_main__link {
      text-decoration: none;
      color: $navbar-text-color;
    }
  }

  .consoles {
    &:hover {
      .consoleblog-header-navbar_console {
        display: block;
      }      
    }
  }
}

.consoleblog-header-navbar_console {
  display: none;
  position: absolute;
  background-color: $navbar-console-inner-bg-color;
  margin-top: 15px;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;

  a {
    text-decoration: none;
    color: $navbar-text-color;
  }

  li {
    display: block;
    margin: 0 auto;
  }

  .microsoft {
    &:hover {
      background-color: $navbar-console-microsoft-hover-color;
      
      a {
        color: white;
      }
    }
  }

  .sony {
    &:hover {
      background-color: $navbar-console-sony-hover-color;
      
      a {
        color: white;
      }
    }
  }

  .nintendo {
    &:hover {
      background-color: $navbar-console-nintendo-hover-color;
      
      a {
        color: white;
      }
    }
  }
}

.consoleblog-header-title {
  text-align: center;
  margin-top: 20vh;
  font-size: 78px;
  transform: rotate(-20deg);
  letter-spacing: 15px;
  color: $title-header-text-color;
  font-family: $font-bebas;
  text-transform: uppercase;
  text-shadow: 3px  3px 0 $title-header-border-color, -1px -1px 0 $title-header-border-color, 1px -1px 0 $title-header-border-color, -1px  1px 0 $title-header-border-color, 1px  1px 0 $title-header-border-color;

  .transform-title {
    font-size: 25px;
    display: inline-block;
    border: $border-width solid $title-header-border-color;
    border-radius: $radius-round;
    letter-spacing: 0;
    margin: 0 12px 0 0;
    padding: 2px 10px 0 10px;
  }
}

.consoleblog-header-title_container {
  position: relative;
  
  &::before {
    content: '';
    top: -20vh;
    position: absolute;
    background-color: $title-container-bg-color;
    width: 100%;
    height: 500%;
    z-index: -100;
  }
}