@import "../animations";

.latestGames-content {
  padding: 80px 0;
}

.latestGames-content {
  position: relative;
  flex: 70% 1;
  margin: 0 75px;
  line-height: 24px;

  &::after {
    content: "";
    position: absolute;
    right: -10%;
    top: 0;
    width: 10px;
    height: 100%;
    border-radius: 25px;
    background-color: $latestGames-content-after-bg-color;
    box-shadow: 5px 5px 11px 2px $latestGames-content-after-shadowbox-color;
  }

}

.sidebar-comments {
  flex: 25% 1;
  margin: 0 75px;
}

.latestGames-game_img {
  position: relative;

  .icon-plus, .icon-minus {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 58px;
    opacity: 0;
    color: $latestGames-search-plus-icon-color;
    transition: $transiotion-short;
  }

  .icon-minus {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    cursor: pointer;

    i {
      opacity: 0.5;
    }
  }

  &.bigger {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    animation: expandImg 1s forwards;

    .icon-minus {
      display: inline-block;
    }

    .icon-plus {
      display: none;
    }

  }
}

.latestGames-game {
  margin-top: 55px;
}

.sidebar-comments {
  padding-top: 80px;
  line-height: 26px;
}

.sidebar-comments-single {
  margin-bottom: 55px;

  .user {
    font-family: $font-bebas;
    font-size: 26px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.latestGames-title {
  font-family: $font-bebas;
  font-size: 56px;
  word-spacing: 25px;
  color: $latestGames-title-color;
  text-shadow: 2px 2px 0px rgba(150, 150, 150, 0.59);
}