*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 15px 0;
  box-shadow: 5px 5px 5px 0px $container-boxshadow-color, inset 4px 4px 15px 0px $container-boxshadow-color, 5px 5px 15px 5px rgba(0,0,0,0);
}

.flex-box {
  display: flex;

  &.centerFlex {
    justify-content: center;
    align-items: center;
  }

  &.spaceAround {
    justify-content: space-around;
  }
}