*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 15px 0;
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(0, 0, 0, 0.8), -12px 0 15px -4px rgba(0, 0, 0, 0.8);
}

.flex-box {
  display: flex;

  &.centerFlex {
    justify-content: center;
    align-items: center;
  }

  &.spaceAround {
    justify-content: space-around;
  }
}