@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* Colors */
$exodus-fruit: #6c5ce7;
$white: #fff;

/* font-style */
$font-russo: 'Russo One', sans-serif; //normal text

/* Transition effects */
$transiotion-long: 1s all;
$transiotion-short: 0.5s all;

/* header section */
$navbar-text-color: $exodus-fruit;
$navbar-li-main-hover-bg-color: $exodus-fruit;
$navbar-li-main-hover-text-color: $white;