.games {
  margin-top: 15px;
}

.games_title {
  text-align: center;
  font-family: $font-bebas;
  font-size: 48px;
  color: $games-title-color;
}

.games_game {
  flex: 45%;
  padding: 0 35px;
}

.games_game__img {
  width: 400px;
  height: 200px;
  flex: 60%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.games_game__description {
  flex: 30%;
  padding: 0 15px;
}